@font-face{
    font-family: "Apple Chancery";
    src:url('../resources/fonts/Apple\ Chancery.ttf');
}

@keyframes change-opacity{
    0%{
        opacity: 0%;
        transform: translateX(6em);
    }
    100%{
        opacity: 100%;
    }
}

body{
    font-family: 'Lato', sans-serif;
    position: relative;
    background-color: rgb(255, 252, 249);
}

h1 span{
    font-family: "Apple Chancery";
}

a{
    text-decoration: none;
}

header{
    display: grid;
    align-items: center;
    justify-items: start;
    justify-content: space-between;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    margin: 0;
    padding: 0;
    color: crimson;
    font-weight: bold;
    height: 5em;
}

header > a{
    grid-area: 1/1/2/2;
    text-align: left;
    font-size: 3em;
    padding: .5em .7em;
}

header > div{
    grid-area: 1/5/2/6;
    text-align: right;
    padding: 1em;
}

header div a{
    padding: .5em;
}

header a{
    text-decoration: none;
    color: crimson;
    transition: transform 0.3s ease-in-out;
}

header a:visited, header a:active{
    color: crimson;
}

header a:hover{
    color: #71c351;
    transform: rotate(45deg);
}

main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding: 1em;
    justify-items: start;
    align-items: end;
    justify-content: space-around;
    margin-bottom: .4em;
}

main article{
    border-right: .07em solid rgb(155, 155, 155);
    grid-area: 1/1/2/2;
    padding: 2em;
    margin-right: 2em;
}

h1 span{
    color: crimson;
}

.button_box{
    display: flex;
    justify-content: space-evenly;
}

article button{
    border: none;
    padding: .7em;
    background-color: crimson;
    border-radius: .2em;
}

article button:hover{
    background-color: #71c351;
}

article button a{
    color: rgb(255, 252, 249);
}

article p{
    text-align: justify;
}

main section{
    grid-area: 1/2/2/5;
    margin-right: 0;
    animation: change-opacity 1.5s ease-in-out 0s;
}

main section img{
    width: 100%;
    height: auto;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: crimson;
    color: rgb(255, 252, 249);
    padding: 1.1em;
    width: 100%;
}